{% extends 'base.html.twig' %}

{% block title %}clients
{% endblock %}

{% block body %}
	<div class="col-md-6 contenu-blanc">

		<h1>Les
			<span>
				{{  lesClients | length }}
			</span>clients</h1>
		{{ include('messages.html.twig') }}
		<div class="contenu">
			<table class="table table-striped table-advance table-hover">
				<thead>
					<tr class="bg-entete">
						<th>nom</th>
						<th>prénom</th>
						<th>adresse</th>
						<th>mail</th>
						<th>téléphone</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<!-- formulaire pour ajouter une nouvelle client-->
					<tr>
						{{ form_start(formCreation) }}
						<td class="col-md-1">{{ form_widget(formCreation.nom) }}
							{{ form_errors(formCreation.nom) }}</td>
						<td class="col-md-6">{{ form_widget(formCreation.prenom) }}
							{{ form_errors(formCreation.prenom) }}</td>
						<td class="col-md-6">{{ form_widget(formCreation.adresse) }}
							{{ form_errors(formCreation.adresse) }}</td>
						<td class="col-md-6">{{ form_widget(formCreation.mail) }}
							{{ form_errors(formCreation.mail) }}</td>
						<td class="col-md-6">{{ form_widget(formCreation.telephone) }}
							{{ form_errors(formCreation.telephone) }}</td>

						<td class="col-md-3">
							<button class="btn btn-primary btn-sm" type="submit" formaction="{{ path('client_ajouter') }}" title="Enregistrer nouvelle client">
								<i class="fa fa-save"></i>
								Enregistrer</button>
							<button class="btn btn-info btn-sm" type="reset" title="Effacer la saisie">
								<i class="fa fa-eraser"></i>
								Annuler
							</button>
						</td>
						{# Ceci va générer le champ CSRF #}
						{{ form_rest(formCreation) }}
						{{ form_end(formCreation) }}
					</tr>

					{% for key, Client in lesClients %}
						<tr>
							{% if Client.id != idClientModif %}
								<td>{{ Client.nom }}</td>
								<td>{{ Client.prenom }}</td>
								<td>{{ Client.adresse }}</td>
								<td>{{ Client.mail }}</td>
								<td>{{ Client.telephone }}</td>
								<!-- formulaire pour demander la modification ou la suppression -->
								<td>
									<form>
										<button type="submit" class="btn btn-primary btn-sm" formaction="{{ path('client_demandermodification', {'id' : Client.id }) }}" title="Modifier">
											<i class="fa fa-pencil"></i>
											Modifier</button>
										<button class="btn btn-danger btn-sm" type="submit" formaction="{{ path('client_supprimer', {'id' : Client.id }) }}" title="Supprimer" onclick="return confirm('Voulez-vous vraiment supprimer cette client ?');">
											<input type = "hidden" name="_token" value="{{ csrf_token('action-item' ~ Client.id) }}">     
                                            <i class="fa fa-trash-o "></i>
											Supprimer</button>
									</form>
								</td>
							{% else %}
								<!-- formulaire pour modifier une client -->
								{{ form_start(formModification) }}
								<td class="col-md-1">{{ form_widget(formModification.nom) }}
									{{ form_errors(formModification.nom) }}</td>
								<td class="col-md-6">{{ form_widget(formModification.prenom) }}
									{{ form_errors(formModification.prenom) }}</td>
								<td class="col-md-6">{{ form_widget(formModification.adresse) }}
									{{ form_errors(formModification.adresse) }}</td>
								<td class="col-md-6">{{ form_widget(formModification.mail) }}
									{{ form_errors(formModification.mail) }}</td>
								<td class="col-md-6">{{ form_widget(formModification.telephone) }}
									{{ form_errors(formModification.telephone) }}</td>
								<td class="col-md-4">
									<button class="btn btn-primary btn-sm" type="submit" formaction="{{ path('client_modifier', {'id' : Client.id }) }}" title="Enregistrer">
										<i class="fa fa-save"></i>
										Enregistrer</button>
									<button class="btn btn-info btn-sm" type="reset" title="Effacer la saisie">
										<i class="fa fa-eraser"></i>
										Effacer</button>
									<button class="btn btn-warning btn-sm" type="submit" formaction="{{ path('app_client') }}" title="Annuler">
										<i class="fa fa-undo"></i>
										Annuler</button>
								</td>
								{# Ceci va générer le champ CSRF #}
								{{ form_rest(formModification) }}
								{{ form_end(formModification) }}
							{% endif %}

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!--fin div contenu-->
	</div>
	<!--fin div col-md-6-->
{% endblock %}
